#color {
	background-position: center;
	background-size: 5%;
}
#page {
	position: absolute;
	top: 5%;
	bottom: 0;
	right: 0;
	left: 0;
	text-align: center;
	font-size: 175%;
}
#left, #right {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 10%;
	height: 15%;
	font-size: 175%;
}
#left {
	right: 43.8%;
	left: 0;
}
#right {
	right: 0;
	left: 43.8%;
}
#skin1, #skin2, #skin3, #skin4, #skin5, #skin6, #skin7, #skin8, #skin9 {
	position: absolute;
	margin: auto;
	width: 10%;
	height: 15%;
}
#skin1, #skin2, #skin3 {
	top: 0;
	bottom: 35.2%;
}
#skin4, #skin5, #skin6 {
	top: 0;
	bottom: 0;
}
#skin7, #skin8, #skin9 {
	top: 35.2%;
	bottom: 0;
}
#skin1, #skin4, #skin7 {
	right: 22.4%;
	left: 0;
}
#skin2, #skin5, #skin8 {
	right: 0;
	left: 0;
}
#skin3, #skin6, #skin9 {
	right: 0;
	left: 22.4%;
}
@media (orientation: portrait) {
	#color {
		background-size: 11%;
	}
	#page {
		top: 27%;
	}
	#left, #right {
		width: 15%;
		height: 7.5%;
	}
	#left {
		right: 76%;
	}
	#right {
		left: 76%;
	}
	#skin1, #skin2, #skin3, #skin4, #skin5, #skin6, #skin7, #skin8, #skin9 {
		width: 18%;
		height: 9%;
	}
	#skin1, #skin2, #skin3 {
		bottom: 20%;
	}
	#skin7, #skin8, #skin9 {
		top: 20%;
	}
	#skin1, #skin4, #skin7 {
		right: 40%;
	}
	#skin3, #skin6, #skin9 {
		left: 40%;
	}
}
